body{
     background-color:#8080a0;
}
html{
    text-align: center;
    font-family: 'Lucida Sans';
    text-align: center;
    font-size:1.0em;
    color: #8080a0;
 

}
  label{
    display: inline-block;
}
h1{
    color:#000000;
    font-family: 'Lora';
    font-size:1.5em;
}

div{
    height: 1em;
    align-items: center;
    text-align:center;

}
@media only screen and (max-width:850px){
    body{
      color:#36086f;
      font-size: 0.9em;
    }

  }
  label{
    display: inline-block;
}
h1{
    color:#000000;
    font-family: 'Lora';
    font-size:1.5em;
}
input [type=submit]{
    width: 30%;
    margin: 0.5em;
    border-radius: 40% ;
    font-size:2.5em;
    font-family: 'Lora';
}
@media only screen and (min-width: 900px){
 body{
     font-size: .5em;
     color:#216cb7;
 }
}
@media only screen and (min-width: 1200px) {
    body {
      font-size: 0.7em;
      color:#1e2e73;
    }


    }
    label{
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
   }
   h1{
    color:#010761;
    font-size:1.0em;
    font-family: 'Lora';
}


input[type=text],input[type=email]{
    width:45%;
    font:1.0em;
    padding:.5em

}
input [type=submit]{
    width: 15%;
    margin: 0.5em;
    border-radius: 30% ;
    font-size:1.5em;
    font-family: 'Lora';
}








