body{
     background-color:#d1d1f3;
     margin-left: auto;
     margin-right: auto;
}
html{
    text-align: center;
    font-family: 'Lucida Sans';
    text-align: center;
    font-size:2.0em;
    color: #9049c7;
    vertical-align: right;

}
@media only screen and (max-width:850px){
    body{
      color:#592f8c;
      font-size: 1.2em;
    }

  }
  label{
    float:none;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
h1{
    color:#432b6f;
    font-family: 'Lora';
    font-size:1.5em;
}
@media only screen and (min-width: 900px){
 body{
     font-size: 1.0em;
     color:#ae32fd;
 }
}
@media only screen and (min-width: 1200px) {
    body {
      font-size: 1.3em;
      color:#bf00ff;
    }


    }
    label{
        float:none;
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
   }
   h1{
    color:#8f00b3;
    font-size:1.5em;
    font-family: 'Lora';
}
div{
    height:22em;
    align-items: center;
    text-align:center;

}
input::placeholder{
    text-align: center;
}

input[type=text],input[type=email]{
    width:80%;
    font:1.0em;
    padding:0.5em

}
input [type=submit]{
    align-items: center;
    width: 15%;
    margin: 1.5em;
    border-radius: 50% ;
    font-size:6.5em;
    font-family: 'Lora';
}


