body{
     background-color:#DFDFDF;
     margin-left: auto;
     margin-right: auto;
}
html{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size:2.0em;
    color: 1B5675;
    vertical-align: middle;


}
@media only screen and (max-width:850px){
    body{
      color:1B5675;
      font-size: 1em;
    }

  }
  label{
    float:none;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
h1{
    color:1B5675;
    font-family: 'Lora', ;
    font-size:1.5em;
    text-shadow:white 0 0 2em;
}
@media only screen and (min-width: 900px){
 body{
     font-size: 2.0em;
     color:1B5675;
 }
}
@media only screen and (min-width: 1100px) {
    body {
      font-size: 2.875em;
      color:1B5675;
    }


    }
    label{
        float:none;
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
   }
   h1{
    color: FF9F02 ;
    font-size:1.5em;
    font-family: 'Lora', ;
    text-shadow:FFF3E0 0 0 1em;
}

input::placeholder{
    text-align: center;
}
div{
    height:5.6em;
    align-items: center;
    text-align:center;

}


input[type=text],input[type=email]{
    width:20%;
    font:0.9em;
    padding:0.6em

}
input [type=submit]{
    align-items: center;
    width: 14%;
    margin: 1.5em;
    border-radius: 40% ;
    font-size:5.5em;
    font-family: 'Lora', ;
}
